body{
  
  background: rgb(172,75,59);
background: linear-gradient(90deg, rgba(172,75,59,1) 0%, rgba(152,69,107,1) 43%, rgba(69,31,131,1) 89%);

} 
/* .main{
  background-image: url('./bg.jpg'); 
} */
.App {
  text-align: center;
  font-family: 'lato';
  color: white;
  
}

.quote-card {
  background-color: #bcadd0;
  border: 1px solid #bcadd0;
  border-radius: 10px;
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.App h1{
  font-size: 50px;
  color: #f7ebf5;;
}
.App h2{
  font-size: 30px;
  color: #f7ebf5;
}

.quote-card p {
  font-size: 1.2em;
  color: #333;
}

.quote-card button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.saved-quotes {
  margin-top: 20px;
}

.saved-quotes .quote-card {
  background-color: #aca6ab;
}
.quote-card button:hover {
  background: linear-gradient(145deg, rgba(252, 144, 126, 1) 0%, rgb(134, 89, 207) 100%);
  color: black;
}